.slider {
    width: 100%;
    text-align: center;
}

.wrapper {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    margin-top: 4em;
}

#topicinput {
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2em;
    color: #999;
    border: none;
    border-bottom: dashed 1px #ddd;
    text-align: justify;
    padding: .1em;
    line-height: 1.5em;
}

#topicinput:focus {
    outline: none;
}
